:root {
    --cor1: #FFF2DA;
    --cor2: #FFBA4D;
    --cor3: #FF9D01;
    --cor4: #804E00;
    --cor5: #161616;
    --cor6: #BDBDBD;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-size: cover;
    background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--gap);
}

.menu {
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--cor3);
}

.menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 1rem;
}

.menu h1 a {
    color: inherit;
}

.menu nav {
    list-style: none;
    display: flex;
}

.menu li div {
    padding: 1rem;
}

.main-right {
    display: flex;
    align-items: center;
}

.cost {
    padding-top: 3px;
    font-size: .75rem;
    line-height: 1rem;
    display: block;
    color: var(--cor3);
    font-family: 'Montserrat', sans-serif;
}

.items {
    font-size: .625rem;
    line-height: .75rem;
    display: block;
    color: var(--cor3);
    font-family: 'Montserrat', sans-serif;
}

p {
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.user {
    padding-right: 30px;
}

.containerImage {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 40%;
    margin: 0 1rem;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-radius: 25px;
    /* Aumente esse valor para bordas mais arredondadas */
    padding: 0 1rem;
}

.search-bar input[type="text"] {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    padding: 0.5rem;
    outline: none;
    border-radius: 0;
    width: 30vw;
    font-family: 'Open Sans', sans-serif;
}

.search-icon,
.clear-icon,
.user-icon,
.bag-icon {
    color: var(--cor3);
    cursor: pointer;
    margin: 0 0.5rem;
}

.clear-icon {
    display: none;
}

.search-bar:hover .clear-icon {
    display: inline;
}

.bag-wrapper {
    cursor: pointer;
    display: flex;
    border-radius: 25px;
    padding: 0px;
    transition: background-color 0.3s ease-in-out;
}

.bag:hover .bag-wrapper {
    background-color: rgba(255, 157, 1, 0.2);
}





input[type="checkbox"] {
    -webkit-appearance: none;
    /* Remove a aparência padrão do checkbox */
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    /* Transforma o checkbox em um círculo */
    border: 2px solid var(--cor2);
    /* Adiciona uma borda ao círculo */
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s ease-in-out;
    /* Adiciona uma transição suave */
}

/* Estilo do checkbox quando selecionado */
input[type="checkbox"]:checked {
    background-color: var(--cor3);
    /* Muda a cor de fundo quando selecionado */
    border-color: var(--cor3);
    /* Muda a cor da borda quando selecionado */
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .checkbox-wrapper input[type="checkbox"] {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid var(--cor6);
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked {
    background-color: var(--cor3);
    border-color: var(--cor3);
  }
  
  .checkbox-wrapper label {
    margin-left: 0.5rem;
    color: var(--cor5);
  }

#cardapio {
    padding-top: 80px;
}

#cardapio h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #FF9D01;
    padding-bottom: 40px;
}

#cardapio p {
    font-family: 'Roboto', sans-serif;
    color: #FFBA4D;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    padding: 1rem;
}

.card {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #fffaf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #fbe2bb;
    transition: background-color 0.3s ease;
    color: #FF9D01;
}

.card:hover {
    border-style: none;
}

img {
    width: 100px;
    height: auto;
}

.cost-item {
    color: #2ecc71;
}

.name-item {
    padding: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fffaf1;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-image {
    width: 40%;
    max-height: 400px;
    object-fit: cover;
    margin-right: 20px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.close {
    color: var(--cor2);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}

.close:hover,
.close:focus {
    color: var(--cor3);
    text-decoration: none;
    cursor: pointer;
}

.modal-ingredients,
.modal-extras,
.modal-observations {
    margin-bottom: 1rem;
}

.modal-ingredients-list {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.modal-extras-list {
    padding: 1rem;
    margin-bottom: 1rem;
}

.modal-observations textarea {
    padding: 2px;
    width: 100%;
    min-height: 100px;
    resize: none;
    background-color: #fffaf1;
}

.modal-quantity {
    display: flex;
    align-items: center;
}

.modal-quantity span {
    margin: 0 0.5rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-quantity input {
    width: 50px;
    text-align: center;
    background-color: #FF9D01;
}

.button-add {
    background-color: #FF9D01;
    border: none;
    color: #fff;
    padding: 0 15px;
    height: 30px;
    cursor: pointer;
    font-size: 1.2rem;
}

.modal-quantity button,
.modal-quantity input[type="number"] {
    border: none;
    background-color: var(--cor3);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    height: 30px;
    padding: 0 15px;
}

.modal-quantity button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-quantity button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}